@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <ul>
        <li class="btn-lg">MVC</li>
        <li class="btn-lg">Web API</li>
        <li class="btn-lg">Entity Framework</li>
        <li class="btn-lg">Swagger Web API Description Page</li>
        <li class="btn-lg">External Facebook Authentication</li>
    </ul>
</p>
