@{
    ViewData["Title"] = "Contact Alan";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    9557 Cove Creek Drive <br />
    Highlands Ranch, CO. 80129<br />
    <abbr title="Phone">P:</abbr>
    303.908.3435
</address>

<address>
    <strong>Email:</strong> <a href="mailto:alan.s.brown@comcast.net">alan.s.brown@comcast.net</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/alan-sidney-brown" target="_blank">Alan Brown</a><br />
    <strong>Resume:</strong> <a href="~/data/Resume-AlanBrown.pdf" target="_blank">Click Here to Download</a><br />
</address>
