@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>The Sport Logger Application</h1>
            <p>This is a test web site to showcase ASP.NET Core technologies.</p>
            <p><a class="btn btn-primary btn-lg" href="/SkiDay" role="button">Ski Day</a></p>
            <p>
                <h2>Other features</h2>
                <ul>
                    <li class="btn-lg">A Swagger<a href="/swagger" target="_blank">Web API </a> description page.</li>
                    <li class="btn-lg">Entity Framework</li>
                    <li class="btn-lg">External Facebook Authentication</li>
                    <li class="btn-lg">My <a href="https://alansbrown.azurewebsites.net/" target="_blank">Angular 2</a> web site that consumes the underlying Web API.</li>
                </ul>
            </p>
        </div>

        
    </div>
    
</div>
